@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    height: 100%;
  }
  
  #wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /****** header ******/

header {
  background: #EEE;
  position: relative;
}

header h1 {
  text-align: center;
  padding: 1rem;
}

@media all and (min-width: 1025px) {
  header h1{
    font-size: 3rem;
  }
}

/****** nav ******/

nav {
  display: none;
}

#navBtn {
  display: none;
}

.open {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  z-index: 100;
  width: 40px;
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 2px;
}

/****** humburger button ******/

.open::before,
.open::after {
  content: "";
}

.open span,
.open::before,
.open::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 30%;
  width: 40%;
  border-bottom: 2px solid #333;
  transition: transform .5s;
}

.open::before {
  transform: translateY(-8px);
}

.open::after {
  transform: translateY(8px);
}

/****** close button ******/
#navBtn:checked + .open {
  background: #555;
}

#navBtn:checked + .open span {
  transform: scaleX(0);
}

#navBtn:checked + .open::before {
  transform: rotate(45deg);
}

#navBtn:checked + .open::after {
  transform: rotate(-45deg);
}

#navBtn:checked ~ nav {
  display: block;
}

nav ul {
  list-style: none;
  padding-bottom: 1rem;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

/* コンピュータ用 */
@media all and (min-width: 1025px) {
  nav {
    display: block;
  }

  nav a{
    text-decoration: none;
    font-weight: bold;
    color:#333;
  }

  #navBtn,
  .open {
    display: none;
  }
}

/****** main contents ******/
main {
  padding: 1rem;
  max-width: 600px; /* 読みやすい幅に調整 */
  margin: 0 auto;
  flex-grow: 1;
  text-align: center; /* 文章中央寄せ */
  display: block; /* gridを解除 */
}

section {
  padding: 20px;
  background: #fff;
  width: 100%;
}

.container {
  /*display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  */
  width: 500px;
  margin: auto;
}

/* コンピュータ用 */
body.about-page main {
  display: block;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.container img{
  width: 200px;
  margin-right: 10px;
}

/****** footer ******/
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%;
}

/*


.sec02 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.gmap_iframe {
  aspect-ratio: 16 / 9;
  max-width: 1000px;
  width: 100%;
  height: auto;
}

  display: grid;
  grid-template-columns: 1fr 1fr;

*/